.imgwrapper
{       position: relative;
        display: block }

.mapbutton {
	font: 11px arial;
}

.maptext {
        font: 11px arial;
}

.maintbl
{
	border: 1px solid black;
	background: #FFFFFF;
	width: 935px;

}

.menuTbl {
	background: #fff;
	border-spacing: 5px 0;
}

.menuTbl td {
	background:#444444;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid white;
}

.menuTbl td a, a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration:none;
        color:#fff;
	line-height: 1.2em;
}

.menuTbl td:hover {
	background: #222222;
}

.menuTbl td a:hover {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        text-decoration:underline;
        color:#fff;
        line-height: 1.2em;
}

.formTbl {
	border: 1px solid black;
}
